[submodule "graphs-algorithms-suite"]
	path = graphs-algorithms-suite
	url = https://github.com/r-delprete/graphs-algorithms-suite
[submodule "hash-tables-algorithms-suite"]
	path = hash-tables-algorithms-suite
	url = https://github.com/r-delprete/hash-tables-algorithms-suite
